<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Frontend</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" type="text/css" href="/homeStyle.css" media="screen"/>
</head>

<body>

<script>
	$(document).ready(function(){
		$("#profile").attr("href", localStorage.getItem("urlProfile"));
		console.log($("#profile"));
	});
</script>

<header>
	<h1>Sistemas Distribuidos</h1>
</header>

<ul>
  <li> <a id="profile" href="">Profile</a> </li>
  <li> <a class="active" href="">Developers</a> </li>
  <li style="float:right"><a href="/api/login">Logout</a></li>
</ul>

<h2> Developers </h2>

<table class="egt">
  <tr>
    <td><img src="/victor.jpg" alt="Victor" width="300" height="400"></td>
    <td><img src="/enrique.jpg" alt="Enrique" width="300" height="400"></td>
    <td><img src="/felipee.jpg" alt="Felipe" width="400" height="400"></td>
  </tr>
  <tr>
    <td>VICTOR</td>
    <td>ENRIQUE</td>
    <td>FELIPE</td>
  </tr>
</table> 

<p hidden id="id"><%= username %> </p>

</body>
</html>