<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Video</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" type="text/css" href="/homeStyle.css" media="screen"/>
</head>

<body>

<header>
	<h1>Sistemas Distribuidos</h1>
</header>

<h3 id="data"> <%= data.str %> </h3>

<hr>

<form id="deleteImage" action="" method="post">
  <label for="image">Image ID:</label>
  <input type="text" id="imageid" name="imageid"><br><br>
  <button class="button" type="submit" value="Submit">Delete</button>
</form>

<hr>

<p hidden id="photos"> <%= data.photos %> </p>
<table id="tablaImages">
  <caption>Faces</caption>
  <tr>
    <th>Photos</th>
	<th>Name</th>
    <th>ID</th>
  </tr>
</table>

<script>
	const link = window.location.href + "/delete";
	var str = document.getElementById("photos").textContent;
	var res = str.split(" ");
	
	var i;
	if (res.length > 1){
		for (i = 2; i < res.length-2; i+=3){
			var newTableRow = "<tr><td><img alt=\"" + res[i] + "\" src=\"data:image/png;base64," + res[i+2] + "\"/></td><td>" + res[i] + "</td><td>" + res[i+1] + "</td></tr>";
			$('#tablaImages tr:last').after(newTableRow);
		}
	}
	
	$( "#deleteImage" ).submit( function( event ) {
		// Stop form from submitting normally
		event.preventDefault();
		// Get some values from elements on the page:
		var $form = $( this ),
			img = $form.find( "input[id='imageid']" ).val();
		
		document.getElementById("imageid").value = "";
		
		//Build url
		var url = window.location.href + "/delete";
		
		$.post( url, { imageid: img }, "html")
			.done(function(response){
				alert("Deleted image");
				location.reload();
			})
			.fail( function(data){
				alert("Fail: " + data.responseText);
			});
	});
	
</script>

</body>
</html>